{% extends "base.html" %}

{% block content %}
    <div class="page-header" style="padding-left: 300px;padding-right: 300px">
        {% include 'flash.html' %}

        <table class="table">
            <caption><h3>微博</h3></caption>
            <thead>
            <tr>
                <th>微博编号</th>
                <th>微博内容</th>
                <th>微博作者</th>
                <th>点赞数</th>
                <th>发布时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for post in allpost %}
                <tr>
                    <td width="80px">{{ post.id }}</td>
                    <td width="400px">{{ post.body }}</td>
                    <td width="80px">{{ post.author.nickname }}</td>
                    <td width="80px">{{ post.likenum }}</td>
                    <td width="160px">{{ post.timestamp }}</td>
                    <td><a class="btn btn-default btn-sm" href="{{ url_for( 'delete',id=post.id)}}">删除微博</a>
                     <a class="btn btn-default btn-sm" href="{{ url_for('postbody',id=post.id)}}">查看微博评论</a>

                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}