{% extends "base.html" %}

{% block content %}
        <div style="width: auto;margin:auto 80px;color: #3777c8;"  >

    <div class="well">
        {% include 'flash.html' %}
        <form class="form-horizontal" action="" method="post" name="edit">
            {{ form.hidden_tag() }}
            <div class="control-group{% if form.errors.post %} error{% endif %}">
                <label class="control-label" for="nickname">昵称:</label>
                <div class="controls">
                    {{ form.nickname(maxlength = 64, class = "span4") }}
                    {% for error in form.errors.nickname %}
                        <span class="help-inline">[{{ error }}]</span><br>
                    {% endfor %}
                </div>
            </div>
            <div class="control-group{% if form.errors.post %} error{% endif %}">
                <label class="control-label" for="about_me">自我介绍:</label>
                <div class="controls">
                    {{ form.about_me(cols = 64, rows = 4, class = "span4") }}
                    {% for error in form.errors.about_me %}
                        <span class="help-inline">[{{ error }}]</span><br>
                    {% endfor %}
                </div>
            </div>
            <div class="control-group">

            <div class="btn-toolbar" role="toolbar">
                <input class="btn btn-primary" type="submit" value="保存">
                <a href="{{ url_for('index')}}" type="button" class="btn btn-default">返回首页</a>
            </div>
            </div>


        </form>
    </div>
        </div>
{% endblock %}