{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ g.user.nickname }}!</h1>
    <form action="" method="post" name="post">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>说些什么:</td>
                <td>{{ form.post(size=30,maxlength=140) }}</td>
                <td>
                    {% for error in form.errors.post %}
                        <span style="color:red;">[{{ error }}</span><br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="发布!"></td>
                <td></td>
            </tr>
        </table>
    </form>
    {% if posts != None %}
        {% for post in posts.items %}
            {% include 'post.html' %}
        {% endfor %}
        <ul class="pagination">
            {% if posts.has_prev %}
                <li class="previous"><a href="{{ url_for('index', page = posts.prev_num) }}">&larr;前一页</a></li>
            {% else %}
                <li class="previous disabled"><a href="#">&larr; 前一页</a></li>
            {% endif %}
            {% if posts.has_next %}
                <li class="next"><a href="{{ url_for('index', page = posts.next_num) }}">后一页 &rarr;</a></li>
            {% else %}
                <li class="next disabled"><a href="#">&larr; 后一页</a></li>
            {% endif %}
        </ul>
    {% else %}
        <p><b>这里空无一片</b></p>
    {% endif %}
{% endblock %}