{% extends "bootstrap/base.html" %}

<body>

<div class="container">

    <form action="" method="post" class="form-signin">
        <h2 class="form-signin-heading">Login</h2>

        <input type="text" name="username" value="{{ request.form.username }}" class="input-block-level"
               placeholder="username">


        <input type="password" name="password" class="input-block-level" placeholder="password">
        <label class="checkbox">


            <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-primary" type="submit" value="Login">Login</button>
    </form>

</div> <!-- /container -->
</body>

 