{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar() }}" style="width:30px;height:30px"></td>
            <td>
                <h1>User:{{ user.nickname }}</h1>
                {% if user.about_me %}<p>{{user.about_me}}</p>{% else %}<p>这个人很懒,什么都没留下</p>{% endif %}
                {% if user.last_seen %}<p><i>最后一次登录: {{user.last_seen}}</i></p>{% endif %}
                {% if user.id == g.user.id %}<p><a href="{{url_for('edit')}}">Edit</a></p>{% endif %}

            </td>
        </tr>
    </table>
<hr>
{% for post in posts %}
    {% include 'post.html' %}
{% endfor %}
{% endblock %}